/*Center Profile Photo*/
.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid orange;
}

/*Customizing footer and header*/
#header {
  text-align: center;
  font-size: 110%;
  padding: 2rem;

}

/*background colors and styling*/
body {
  background-image: linear-gradient(265deg, #7b2f91, #7e7194, #72a994, #44e192);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

aside, main {
  display: inline-block;
}

/*Customizing side menu*/
.sidemenu {
  list-style-type: none;
  padding: 0%;
  margin-bottom: 0%;
}

/*Customizing Links colors*/
a:visited {
  color: blue;
}

/*Heading formating and underlining*/
.heading{
  text-decoration: underline;
}

/*Customizing post headings*/
.pst{
  text-decoration: underline;
  font-weight: bold;
}

/*Spacing icons*/
.icons {
  width: 5rem;
  margin: 0.5rem;
  height: 5rem;
}


.iconAchors {
  text-decoration: none !important;
}

/*Underlying footer and aligning text*/
footer {
  text-align: center;
  padding: 2rem;
}

#contact {
  text-decoration: underline;
}

.main {
  margin-left: 22%;
  width: 75%;
  overflow: unset;
}

/*Customizing menu bar and positioning*/
#sidebar {
  position: fixed;
  width: 15%;
  height: 200px;
  padding-top: 0px;
  padding-left: 10px;
  margin-right: 45px;
  margin-left: 35px;
  border: 3px solid grey;
}