/*Adjusting image for all screen sizes*/
picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid gold;
}

.scaleImg {
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  height: 295px;
  width: 295px;
  object-fit: cover;
  border-radius: 50%;
  background-repeat: no-repeat;

}


/* Small devices (portrait tablets and large phones, 764px and up) */

@media only screen and (max-width:764px) {
  .header {
    text-align: center;
  }
  .heading{
    text-decoration: underline;
    text-align: center;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(0deg, rgb(102, 102, 102), rgb(201, 201, 201),  white)!important;
  }
  .jumbotron{
    background-image: url("./back.webp");
    background-size:cover;
    color: black;
    padding: 2rem;
  }
  .systemCards{
    background-color: #F7F7F7 !important;
  }
  .card-title {
    text-decoration: underline;
    text-align: center;
  }

  .card-text {
    text-decoration: none;

  }
  .myform{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
    background-color: #F7F7F7;
  }
  .uni {
    display: block;
    width: 100%;
    padding: 0.25rem 0;
  }
  select{
    display: block;
    width: 100%;
    padding: 0.25rem 0;
  }
  textarea{
    display: block;
    width: 100%;
    
  }


  footer {
    text-align: center;

  }

  .iconAchors {
    text-decoration: none !important;
  }

  .icons {
    width: 50px;
    height: 50px;
    animation-name: rotateImage;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: relative;
  }

  @keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(18deg);
    }

    30% {
      transform: rotate(0deg);
    }

    40% {
      transform: rotate(-18deg);
    }

    50% {
      transform: rotate(0deg);
    }

    60% {
      transform: rotate(18deg);
    }

    70% {
      transform: rotate(0deg);
    }

    80% {
      transform: rotate(-18deg);
    }

    90% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(18deg);
    }
  }
  .skillImg{
    height: 25px;
    width: 25px;
    margin-right: 3px;
  }
  .skillheading{
    text-align: center;
  }

  /*SKills for 20%*/
  .vlow {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 22px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    overflow: hidden;
  }
  
  .vlow:after {
    text-align:center;
    content: '20%';
    position: absolute;
    left: 0;
    width: 20%;
    background: rgb(116, 194, 92);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    
    animation: vlow 20s ;
  }
  
  @keyframes vlow {
    0% {
      width: 0%;
      background: rgb(116, 194, 92);
    }
    
    20% {
      width: 20%;
      background: rgb(116, 194, 92);
    }

}

/*Skills marked at 30%*/
.low {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.low:after {
  text-align:center;
  content: '30%';
  position: absolute;
  left: 0;
  width: 30%;
  background: rgb(116, 194, 92);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: low 20s ;
}

@keyframes low {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  30% {
    width: 30%;
    background: rgb(116, 194, 92);
  }

}
/*Skills at 40%*/
.med {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.med:after {
  text-align:center;
  content: '40%';
  position: absolute;
  left: 0;
  width: 40%;
  background: rgb(116, 194, 92);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: med 20s ;
}

@keyframes med {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  40% {
    width: 40%;
    background: rgb(116, 194, 92);
  }

}

/*Skills at 50%*/
.high {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.high:after {
  text-align:center;
  content: '50%';
  position: absolute;
  left: 0;
  width: 50%;
  background: rgb(116, 194, 92);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: high 20s ;
}

@keyframes high {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  50% {
    width: 50%;
    background: rgb(116, 194, 92);
  }

}
}


/* Medium devices (landscape tablets, 765px and up) */

@media only screen and (min-width:765px) {
  .header {
    text-align: center;
  }
  .heading{
    text-decoration: underline;
    text-align: center;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(0deg, rgb(102, 102, 102), rgb(201, 201, 201),  white)!important;
  }
  .jumbotron{
    background-image: url("./back.webp");
    background-size:cover;
    color: black;
    padding: 2rem;
  }
  .systemCards{
    background-color: #F7F7F7 !important;
  }
  .card-title {
    text-decoration: underline;
    text-align: center;
  }

  .card-text {
    text-decoration: none;

  }
  .myform{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
    background-color: #F7F7F7;
  }
  .uni {
    display: block;
    width: 100%;
    padding: 0.25rem 0;
  }
  select{
    display: block;
    width: 100%;
    padding: 0.25rem 0;
  }
  textarea{
    display: block;
    width: 100%;
    
  }


  footer {
    text-align: center;

  }

  .iconAchors {
    text-decoration: none !important;
  }

  .icons {
    width: 50px;
    height: 50px;
    animation-name: rotateImage;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: relative;
  }

  @keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(18deg);
    }

    30% {
      transform: rotate(0deg);
    }

    40% {
      transform: rotate(-18deg);
    }

    50% {
      transform: rotate(0deg);
    }

    60% {
      transform: rotate(18deg);
    }

    70% {
      transform: rotate(0deg);
    }

    80% {
      transform: rotate(-18deg);
    }

    90% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(18deg);
    }
  }
  .skillImg{
    height: 25px;
    width: 25px;
    margin-right: 3px;
  }
  .skillheading{
    text-align: center;
  }

  /*SKills for 20%*/
  .vlow {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 22px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    overflow: hidden;
  }
  
  .vlow:after {
    text-align:center;
    content: '20%';
    position: absolute;
    left: 0;
    width: 20%;
    background: rgb(116, 194, 92);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    
    animation: vlow 20s ;
  }
  
  @keyframes vlow {
    0% {
      width: 0%;
      background: rgb(116, 194, 92);
    }
    
    20% {
      width: 20%;
      background: rgb(116, 194, 92);
    }

}

/*Skills marked at 30%*/
.low {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.low:after {
  text-align:center;
  content: '30%';
  position: absolute;
  left: 0;
  width: 30%;
  background: rgb(116, 194, 92);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: low 20s ;
}

@keyframes low {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  30% {
    width: 30%;
    background: rgb(116, 194, 92);
  }

}
/*Skills at 40%*/
.med {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.med:after {
  text-align:center;
  content: '40%';
  position: absolute;
  left: 0;
  width: 40%;
  background: rgb(116, 194, 92);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: med 20s ;
}

@keyframes med {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  40% {
    width: 40%;
    background: rgb(116, 194, 92);
  }

}

/*Skills at 50%*/
.high {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.high:after {
  text-align:center;
  content: '50%';
  position: absolute;
  left: 0;
  width: 50%;
  background: rgb(116, 194, 92);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: high 20s ;
}

@keyframes high {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  50% {
    width: 50%;
    background: rgb(116, 194, 92);
  }

}


}



/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width:1400px) {


  .header {
    text-align: center;
  }
  .heading{
    text-decoration: underline;
    text-align: center;
  }

  .jumbotron{
    background-image: url("./back.webp");
    background-size:contain;
    color: black;
    padding: 2rem;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(0deg, rgb(102, 102, 102), rgb(201, 201, 201),  white)!important;
  }

  .systemCards{
    background-color: #F7F7F7 !important;
  }
  .inner{
    overflow: hidden;
  }
  .inner img{
    transition: all 1.5s ease;
  }
  .inner:hover img{
    transform: scale(1.5);
  }
  .card-title {
    text-decoration: underline;
    padding: 2rem;
  }

  .card-text {
    text-decoration: none;
  }

  .uhead {
    text-decoration: underline;
  }
  .pst{
    text-decoration: underline;
    font-weight: bold;
  }
  .myform{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
    background-color: #F7F7F7;
  }
  .uni {
    display: block;
    width: 100%;
    padding: 0.25rem 0;
  }
  select{
    display: block;
    width: 100%;
    padding: 0.25rem 0;
  }
  textarea{
    display: block;
    width: 100%;
    
  }

  footer {
    text-align: center;
   
  }


  .icons {
    width: 50px !important;
    height: 50px !important;
    animation-name: rotateImage;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: relative;

  }
  .iconAchors {
    text-decoration: none !important;
  }


  @keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(18deg);
    }

    30% {
      transform: rotate(0deg);
    }

    40% {
      transform: rotate(-18deg);
    }

    50% {
      transform: rotate(0deg);
    }

    60% {
      transform: rotate(18deg);
    }

    70% {
      transform: rotate(0deg);
    }

    80% {
      transform: rotate(-18deg);
    }

    90% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(18deg);
    }
  }
  
  .skillImg{
    height: 25px;
    width: 25px;
    margin-right: 3px;
  }
  .skillheading{
    text-align: center;
  }

  /*SKills for 20%*/
  .vlow {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 22px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    overflow: hidden;
  }
  
  .vlow:after {
    text-align:center;
    content: '20%';
    position: absolute;
    left: 0;
    width: 20%;
    background: rgb(116, 194, 92);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    
    animation: vlow 20s ;
  }
  
  @keyframes vlow {
    0% {
      width: 0%;
      background: rgb(116, 194, 92);
    }
    
    20% {
      width: 20%;
      background: rgb(116, 194, 92);
    }

}

/*Skills marked at 30%*/
.low {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.low:after {
  text-align:center;
  content: '30%';
  position: absolute;
  left: 0;
  width: 30%;
  background: rgb(116, 194, 92);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: low 20s ;
}

@keyframes low {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  30% {
    width: 30%;
    background: rgb(116, 194, 92);
  }

}
/*Skills at 40%*/
.med {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.med:after {
  text-align:center;
  content: '40%';
  position: absolute;
  left: 0;
  width: 40%;
  background: rgb(116, 194, 92);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: med 20s ;
}

@keyframes med {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  40% {
    width: 40%;
    background: rgb(116, 194, 92);
  }

}

/*Skills at 50%*/
.high {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.high:after {
  text-align:center;
  content: '50%';
  position: absolute;
  left: 0;
  width: 50%;
  background: rgb(116, 194, 92);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  
  animation: high 20s ;
}

@keyframes high {
  0% {
    width: 0%;
    background: rgb(116, 194, 92);
  }
  
  50% {
    width: 50%;
    background: rgb(116, 194, 92);
  }

}








}